@use 'styles/colors' as *;
@use 'styles/mixins' as *;

.ConcertsContainer {
  margin: 0 auto rem-calc(64) !important;
  text-align: center;
}

.Year {
  font-size: rem-calc(28);
  color: $blue;
  margin: rem-calc(24) 0 rem-calc(8);
  @include media-breakpoint-down('sm') {
    font-size: rem-calc(20);
  }
}

.Concert {
  font-size: rem-calc(16);
}

.Future {
  color: $blue;
}
