$primaryMain: #333;
$primaryDark: #2C2C2C;
$primaryHover: #444;
$primaryContrast: #FFF;

$backgroundDefault: #FFF;
$backgroundDark: #333;

$red: #BB0A30;
$black: #000;
$grey1A: #1a1a1a;
$grey33: #333333;
$grey4C: #4c4c4c;
$grey66: #666;
$grey70: #707070;
$grey80: #808080;
$grey99: #999;
$greyB3: #b3b3b3;
$greyCC: #ccc;
$greyD9: #d9d9d9;
$greyDD: #ddd;
$greyE5: #e5e5e5;
$greyEF: #efefef;
$greyF2: #f2f2f2;
$white: #FFF;
$whiteHover: #0000000A;
$searchBg: #7070701C;
$checkboxBorder: #7070704E;
$greyLoginLine: #70707057;
$lightPink: #FF9394;
$pink: #FF566E;
$errorColor: #f44336;
$yellow: #FFBC17;
$yellowHover: #FFC221;
$blue: #5584F5;
$blueHover: #4269C6;
$darkBlue: #262949;
$darkBlueHover: #262F4F;
$green: #00EDAE;
$greenHover: #00D89E; 