@use 'styles/constants' as *;
@use 'styles/mixins' as *;

.Page {
  @include media-breakpoint-down('md') {
    margin-top: $headerHeight;
  }

  & > div {
    padding-top: rem-calc(48);
    margin-top: 0;
    margin-bottom: 0;
    @include media-breakpoint-down('md') {
      padding-top: rem-calc(32);
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}
